/* Import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Import Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --bg-color: #0891B2;
}

*{
  margin: 0;
  padding: 0;

}

body {
  font-family: Roboto,serif;
}

h1, h2, h3{
  font-family: Playfair Display,serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}
main {
  padding: 2vh 8vw;
  box-sizing: border-box;
}

/* Header */
header {
  padding: 8vw 8vw;
  box-sizing: border-box;
  background: linear-gradient(145deg, var(--bg-color) 50%, white 50%);
}

header img {
  width: 100%;
  height: auto;
}

header div {
  position: relative;
}

h1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-100%);
  color: white;
  min-width: min-content;
  text-shadow: 5px 5px 10px rgb(15, 15, 15);
  font-size: 5rem;
}

/* About Me */
.about > p{
  color: #565656;
}

.about div:last-of-type{
  width: max-content;
  margin: 1rem auto;
}

.about a > img, footer a > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
}

/* My Work */
.project-img img {
  display: none;
}
.work article h3 {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.project-link {
  float: right;
}

.project-link img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0px 0.1rem;
}

.work > div{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-content {
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.5);
}
.project-img {
  min-width: 250px;
  height: 200px;
  position: relative;
}

.project-img span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%,-60%);
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: Playfair Display;
  font-weight: 500;
}

.about, .work {
  margin-top: 2rem;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  color: white;
  margin-top: 4rem;
  gap: 2rem;
  align-items: start;
}

.contact > address, .contact > address > div {
  margin: 2rem 0rem;
}

.contact {
  padding: 1rem 8vw;
}

footer > section > p {
  font-size: 1.2rem;
}


footer img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 30%;
}

.contact address > div:nth-child(2) {
  transform: translateX(0px);
}

.contact address div:nth-child(2) img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
 
address > div:last-child {
  width: max-content;
  margin: 1rem auto;
}


@media screen and (min-width: 480px) {
  footer h2 {
    text-align: start;
  }
  
  .contact {
    width: 50vw;
    padding: 2rem 0rem;
    box-sizing: border-box;
  }

  footer img {
    width: 30vw;
    height: auto;
    margin: 2rem 0;
    margin: auto 0;
  }
}