/* Import Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Import Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --bg-color: #0891b2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: Playfair Display, serif;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0rem;
}

a {
  color: inherit;
  text-decoration: none;
}

main,
.about {
  padding: 2vh 8vw;
}

/* Header */

header {
  padding: 8vw 8vw;
  background: linear-gradient(150deg, var(--bg-color) 55%, white 55%);
}

header img {
  width: 100%;
  height: auto;
}

header div {
  position: relative;
  transform: translate(-1rem, -1rem);
}

header section {
  margin-top: 5rem;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.5);
  padding: 2rem 1rem;
}

h1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  min-width: min-content;
  text-shadow: 1px 2px 5px rgb(100, 100, 100);
  font-size: 14vw;
  letter-spacing: 0.2rem;
}

/* About Me */
.about > p,
header section p {
  color: #565656;
}

.about div:last-of-type {
  width: max-content;
  margin: 1rem auto;
}

.about a > img,
footer a > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
}

header div:last-child {
  display: none;
  width: 1rem;
  height: 1rem;
}

header div:last-child img {
  width: 1.5rem;
  height: 1.5rem;
}

/* My Work */
.project-img img {
  display: none;
}

.work article h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.project-link {
  float: right;
}

.project-link img {
  width: 1rem;
  height: 1rem;
  margin: 0px 0.1rem;
}

.work > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190.2px, 1fr));
  gap: 2rem;
}

.project-content {
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.5);
  font-size: 0.8rem;
}
.project-img {
  min-width: 190.2px;
  height: 200px;
  position: relative;
}

.project-img span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: Playfair Display;
  font-weight: 500;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  color: white;
  margin-top: 4rem;
  align-items: start;
}

.contact > address > div {
  margin: 2rem 0rem;
  font-size: 0.8rem;
}

footer > section > p {
  font-size: 1rem;
  max-width: 80vw;
}

footer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 30%;
}

.contact address div:nth-child(2) img {
  display: none;
  width: 1rem;
  height: 1rem;
}

address > div:last-child {
  width: max-content;
  margin: 1rem auto;
}

address > div:last-child img {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 480px) {
  /* Header */
  header div img {
    width: 32vw;
    height: 40vw;
  }

  header img {
    object-fit: cover;
    float: left;
  }

  header h1 {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 2rem;
    width: max-content;
    letter-spacing: 0;
    transform: translate(35vw, 50%);
  }

  .about {
    display: none;
  }

  .work h2 {
    text-align: start;
  }

  /* Footer */
  footer {
    padding: 1rem 0rem;
  }
  footer h2 {
    margin-top: 0;
    text-align: start;
  }

  .contact {
    width: 50vw;
  }

  footer img {
    width: 30vw;
    height: auto;
    margin: 2rem 0;
    margin: auto 0;
  }

  .contact address div:nth-child(2) img {
    display: inline-block;
    margin-right: 0.1rem;
  }
}

@media screen and (min-width: 720px) {
  .contact {
    width: 32vw;
  }

  footer img {
    width: 45vw;
    max-height: 18rem;
  }

  header div:last-child {
    float: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
  }

  header h1 {
    position: absolute;
    font-size: 1.8rem;
    width: max-content;
    letter-spacing: 0;
    display: inline-block;
    --x-offset: calc(16vw - 100px);
    --y-offset: calc(40vw - 100%);
    transform: translate(var(--x-offset), var(--y-offset));
  }
}
